In [1]:
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
teams_file = 'Resources/Teams.csv'
team_data_df = pd.read_csv(teams_file)
team_data_df.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,NaN,0.83,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,NaN,0.82,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,NaN,0.81,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,NaN,0.80,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,NaN,0.83,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [8]:
new_team_df = team_data_df [['yearID', 'teamID', 'name', 'G','W', 'L']].copy()
new_team_df.head()

new_team_df.dtypes

yearID     int64
teamID    object
name      object
G          int64
W          int64
L          int64
dtype: object

In [7]:
teams_df_filtered = new_team_df.drop(new_team_df[new_team_df['yearID'] >= 1985].index, inplace = True)

#teams_df_filtered.drop(teams_df_filtered[teams_df_filtered['yearID'] >= 1985].index, inplace = True)

print(teams_df_filtered)
#filtered_teams_df = new_team_df.drop(new_team_df[new_team_df['yearID'] >= 1985].index, inplace = True)

#filtered_teams_df.head()

None