In [1]:
# importing dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# reading in csv data

# alec_salaries_data_clean
salaries_final_path = "output_csv/final_salaries_team_names_1985_to_2015.csv"
salaries_final_df = pd.read_csv(salaries_final_path)

# collin_team_data_clean
teams_collin_path = "../collin-work/Resources/Cleaned_Teams_info.csv"
teams_final_df = pd.read_csv(teams_collin_path)

In [6]:
# creating db for just 1985
salaries_final_df_1985 = salaries_final_df.loc[salaries_final_df["yearID"] == 1985]
teams_final_df_1985 = teams_final_df.loc[teams_final_df["Year"] == 1985]

# reindexing
teams_df_1985 = teams_final_df_1985.reset_index(drop=True)
salaries_df_1985 = salaries_final_df_1985.reset_index(drop=True)
len(teams_df_1985)

26

In [5]:
# grouping by teams for 1985 team salary totals
sal_team_groupby_1985 = salaries_df_1985.groupby(['teamID'])
sal_cap_1985 = sal_team_groupby_1985.sum()

# converting groupby teams sum on salary into dataframe
sal_cap_1985_df_1 = pd.DataFrame(sal_cap_1985)
sal_cap_1985_df = sal_cap_1985_df_1["salary"]
len(sal_cap_1985_df)

26

In [7]:
# merging sal cap 1985 sum into teams df
teams_sal_cap_1985_2 = teams_df_1985.merge(sal_cap_1985_df,how="left",left_on="Team ID",right_index=True)
teams_sal_cap_1985_3 = teams_sal_cap_1985_2.reset_index(drop=True)
teams_sal_cap_1985 = teams_sal_cap_1985_3.rename(columns={"salary" : "Team Salary"})
teams_sal_cap_1985

    Year Team ID              Team Name  Games  Wins  Loses  Team Salary
0   1985     ATL         Atlanta Braves    162    66     96     14807000
1   1985     BAL      Baltimore Orioles    161    83     78     11560712
2   1985     BOS         Boston Red Sox    163    81     81     10897560
3   1985     CAL      California Angels    162    90     72     14427894
4   1985     CHA      Chicago White Sox    163    85     77      9846178
5   1985     CHN           Chicago Cubs    162    77     84     12702917
6   1985     CIN        Cincinnati Reds    162    89     72      8359917
7   1985     CLE      Cleveland Indians    162    60    102      6551666
8   1985     DET         Detroit Tigers    161    84     77     10348143
9   1985     HOU         Houston Astros    162    83     79      9993051
10  1985     KCA     Kansas City Royals    162    91     71      9321179
11  1985     LAN    Los Angeles Dodgers    162    95     67     10967917
12  1985     MIN        Minnesota Twins    162    77     85      5764821
13  1985     ML4      Milwaukee Brewers    161    71     90     11284107
14  1985     MON         Montreal Expos    161    84     77      9470166
15  1985     NYA       New York Yankees    161    97     64     14238204
16  1985     NYN          New York Mets    162    98     64     10834762
17  1985     OAK      Oakland Athletics    162    77     85      9058606
18  1985     PHI  Philadelphia Phillies    162    75     87     10124966
19  1985     PIT     Pittsburgh Pirates    161    57    104      9227500
20  1985     SDN       San Diego Padres    162    83     79     11036583
21  1985     SEA       Seattle Mariners    162    74     88      4613000
22  1985     SFN   San Francisco Giants    162    62    100      8221714
23  1985     SLN    St. Louis Cardinals    162   101     61     11817083
24  1985     TEX          Texas Rangers    161    62     99      7676500
25  1985     TOR      Toronto Blue Jays    161    99     62      8812550

In [9]:
# sorting by wins
teams_sal_cap_1985_sorted_wins = teams_sal_cap_1985.sort_values(by='Wins', ascending=False)
teams_sal_cap_1985_sorted_wins

    Year Team ID              Team Name  Games  Wins  Loses  Team Salary
23  1985     SLN    St. Louis Cardinals    162   101     61     11817083
25  1985     TOR      Toronto Blue Jays    161    99     62      8812550
16  1985     NYN          New York Mets    162    98     64     10834762
15  1985     NYA       New York Yankees    161    97     64     14238204
11  1985     LAN    Los Angeles Dodgers    162    95     67     10967917
10  1985     KCA     Kansas City Royals    162    91     71      9321179
3   1985     CAL      California Angels    162    90     72     14427894
6   1985     CIN        Cincinnati Reds    162    89     72      8359917
4   1985     CHA      Chicago White Sox    163    85     77      9846178
8   1985     DET         Detroit Tigers    161    84     77     10348143
14  1985     MON         Montreal Expos    161    84     77      9470166
9   1985     HOU         Houston Astros    162    83     79      9993051
20  1985     SDN       San Diego Padres    162    83     79     11036583
1   1985     BAL      Baltimore Orioles    161    83     78     11560712
2   1985     BOS         Boston Red Sox    163    81     81     10897560
5   1985     CHN           Chicago Cubs    162    77     84     12702917
12  1985     MIN        Minnesota Twins    162    77     85      5764821
17  1985     OAK      Oakland Athletics    162    77     85      9058606
18  1985     PHI  Philadelphia Phillies    162    75     87     10124966
21  1985     SEA       Seattle Mariners    162    74     88      4613000
13  1985     ML4      Milwaukee Brewers    161    71     90     11284107
0   1985     ATL         Atlanta Braves    162    66     96     14807000
22  1985     SFN   San Francisco Giants    162    62    100      8221714
24  1985     TEX          Texas Rangers    161    62     99      7676500
7   1985     CLE      Cleveland Indians    162    60    102      6551666
19  1985     PIT     Pittsburgh Pirates    161    57    104      9227500

In [10]:
team_sal_1985_output_path = "output_csv/Teams_Wins_Salary_1985.csv"
teams_sal_cap_1985_sorted_wins.to_csv(team_sal_1985_output_path,index=False)