In [1]:
# importing dependencies
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# reading in csv data

# alec_salaries_data_clean
salaries_final_path = "output_csv/final_salaries_team_names_1985_to_2015.csv"
salaries_final_df = pd.read_csv(salaries_final_path)

# collin_team_data_clean
teams_collin_path = "../collin-work/Resources/Cleaned_Teams_info.csv"
teams_final_df = pd.read_csv(teams_collin_path)

In [4]:
# previewing data
salaries_final_df.head(5)

   yearID teamID lgID   playerID  salary            name franchID
0    1985    ATL   NL  barkele01  870000  Atlanta Braves      ATL
1    1985    ATL   NL  bedrost01  550000  Atlanta Braves      ATL
2    1985    ATL   NL  benedbr01  545000  Atlanta Braves      ATL
3    1985    ATL   NL   campri01  633333  Atlanta Braves      ATL
4    1985    ATL   NL  ceronri01  625000  Atlanta Braves      ATL

In [29]:
# previewing data
teams_final_df_2015
teams_df_2015 = teams_final_df_2015.reindex()

In [12]:
# creating db for just 2015
salaries_final_df_2015 = salaries_final_df.loc[salaries_final_df["yearID"] == 2015]
teams_final_df_2015 = teams_final_df.loc[teams_final_df["Year"] == 2015]

In [20]:
salaries_df_2015 = salaries_final_df_2015.reset_index(drop=True)
salaries_df_2015

     yearID teamID lgID   playerID    salary                  name franchID
0      2015    ARI   NL  ahmedni01    508500  Arizona Diamondbacks      ARI
1      2015    ARI   NL  anderch01    512500  Arizona Diamondbacks      ARI
2      2015    ARI   NL  chafian01    507500  Arizona Diamondbacks      ARI
3      2015    ARI   NL  collmjo01   1400000  Arizona Diamondbacks      ARI
4      2015    ARI   NL  corbipa01    524000  Arizona Diamondbacks      ARI
..      ...    ...  ...        ...       ...                   ...      ...
812    2015    WAS   NL  treinbl01    512800  Washington Nationals      WSN
813    2015    WAS   NL  ugglada01    507500  Washington Nationals      WSN
814    2015    WAS   NL  werthja01  21000000  Washington Nationals      WSN
815    2015    WAS   NL  zimmejo02  16500000  Washington Nationals      WSN
816    2015    WAS   NL  zimmery01  14000000  Washington Nationals      WSN

[817 rows x 7 columns]

In [21]:
# grouping by teams for 2015 team salary totals
sal_team_groupby_2015 = salaries_df_2015.groupby(['teamID'])
sal_cap_2015 = sal_team_groupby_2015.sum()

In [27]:
sal_cap_2015_df_1 = pd.DataFrame(sal_cap_2015)
sal_cap_2015_df = sal_cap_2015_df_1["salary"]
len(sal_cap_2015_df)

30

In [38]:
# merging sal cap 2015 sum into teams df
teams_sal_cap_2015_2 = teams_df_2015.merge(sal_cap_2015_df,how="left",left_on="Team ID",right_index=True)
teams_sal_cap_2015_3 = teams_sal_cap_2015_2.reset_index(drop=True)
teams_sal_cap_2015 = teams_sal_cap_2015_3.rename(columns={"salary" : "Team Salary"})
teams_sal_cap_2015

,Year,Team ID,Team Name,Games,Wins,Loses,Team Salary
0,2015,KCA,Kansas City Royals,162,95,67,112107025
1,2015,MIN,Minnesota Twins,162,83,79,107755000
2,2015,CLE,Cleveland Indians,161,81,80,87663766
3,2015,CHA,Chicago White Sox,162,76,86,112373700
4,2015,DET,Detroit Tigers,161,74,87,172284750
5,2015,TOR,Toronto Blue Jays,162,93,69,112992400
6,2015,NYA,New York Yankees,162,87,75,212751957
7,2015,BAL,Baltimore Orioles,162,81,81,115044833
8,2015,TBA,Tampa Bay Rays,162,80,82,64521233
9,2015,BOS,Boston Red Sox,162,78,84,181103400
10,2015,TEX,Texas Rangers,162,88,74,143742789
11,2015,HOU,Houston Astros,162,86,76,72256200
12,2015,LAA,Los Angeles Angels of Anaheim,162,85,77,120005415
13,2015,SEA,Seattle Mariners,162,76,86,122208700
14,2015,OAK,Oakland Athletics,162,68,94,79053501
15,2015,SLN,St. Louis Cardinals,162,100,62,119241500
16,2015,PIT,Pittsburgh Pirates,162,98,64,88892499
17,2015,CHN,Chicago Cubs,162,97,65,115879310
18,2015,MIL,Milwaukee Brewers,162,68,94,100850000
19,2015,CIN,Cincinnati Reds,162,64,98,113072286
20,2015,NYN,New York Mets,162,90,72,96766683
21,2015,WAS,Washington Nationals,162,83,79,155587472
22,2015,MIA,Miami Marlins,162,71,91,68056500
23,2015,ATL,Atlanta Braves,162,67,95,71781250
24,2015,PHI,Philadelphia Phillies,162,63,99,111693000
25,2015,LAN,Los Angeles Dodgers,162,92,70,215792000
26,2015,SFN,San Francisco Giants,162,84,78,164701500
27,2015,ARI,Arizona Diamondbacks,162,79,83,61834000
28,2015,SDN,San Diego Padres,162,74,88,118441300
29,2015,COL,Colorado Rockies,162,68,94,95688600

In [39]:
# sorting by wins
teams_sal_cap_2015_sorted_wins = teams_sal_cap_2015.sort_values(by='Wins', ascending=False)
teams_sal_cap_2015_sorted_wins

,Year,Team ID,Team Name,Games,Wins,Loses,Team Salary
15,2015,SLN,St. Louis Cardinals,162,100,62,119241500
16,2015,PIT,Pittsburgh Pirates,162,98,64,88892499
17,2015,CHN,Chicago Cubs,162,97,65,115879310
0,2015,KCA,Kansas City Royals,162,95,67,112107025
5,2015,TOR,Toronto Blue Jays,162,93,69,112992400
25,2015,LAN,Los Angeles Dodgers,162,92,70,215792000
20,2015,NYN,New York Mets,162,90,72,96766683
10,2015,TEX,Texas Rangers,162,88,74,143742789
6,2015,NYA,New York Yankees,162,87,75,212751957
11,2015,HOU,Houston Astros,162,86,76,72256200
12,2015,LAA,Los Angeles Angels of Anaheim,162,85,77,120005415
26,2015,SFN,San Francisco Giants,162,84,78,164701500
21,2015,WAS,Washington Nationals,162,83,79,155587472
1,2015,MIN,Minnesota Twins,162,83,79,107755000
2,2015,CLE,Cleveland Indians,161,81,80,87663766
7,2015,BAL,Baltimore Orioles,162,81,81,115044833
8,2015,TBA,Tampa Bay Rays,162,80,82,64521233
27,2015,ARI,Arizona Diamondbacks,162,79,83,61834000
9,2015,BOS,Boston Red Sox,162,78,84,181103400
3,2015,CHA,Chicago White Sox,162,76,86,112373700
13,2015,SEA,Seattle Mariners,162,76,86,122208700
28,2015,SDN,San Diego Padres,162,74,88,118441300
4,2015,DET,Detroit Tigers,161,74,87,172284750
22,2015,MIA,Miami Marlins,162,71,91,68056500
18,2015,MIL,Milwaukee Brewers,162,68,94,100850000
14,2015,OAK,Oakland Athletics,162,68,94,79053501
29,2015,COL,Colorado Rockies,162,68,94,95688600
23,2015,ATL,Atlanta Braves,162,67,95,71781250
19,2015,CIN,Cincinnati Reds,162,64,98,113072286
24,2015,PHI,Philadelphia Phillies,162,63,99,111693000

In [40]:
# outputing csvs
team_sal_2105_output_path = "output_csv/Teams_Wins_Salary_2015.csv"
teams_sal_cap_2015_sorted_wins.to_csv(team_sal_2105_output_path,index=False)